@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: hsl(239, 94%, 19%);
  --light-09: hsla(210, 100%, 97%, 1);
  --c: hsl(58, 89%, 93%);
  --d: hsl(29, 97%, 86%);
  --dark: hsl(334, 85%, 57%);
  --dark-09: hsla(334, 85%, 57%, 0.03);
  --white: rgba(255, 255, 255, 1);
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-flex-v26-latin/roboto-flex-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  font-family: 'Roboto Flex', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.logo .c1 {
  fill: var(--light);
}

.logo .c2_a {
  fill: var(--light);
}

.logo .w {
  fill: var(--white);
}

.logo .c2 {
  stroke: var(--light);
}

.dark .logo .c1 {
  fill: var(--dark);
}

.dark .logo .c2_a {
  fill: var(--dark);
}

.dark .logo .w {
  fill: var(--white);
}

.dark .logo .c2 {
  stroke: var(--dark);
}

._bg-primary-100 {
  background-color: var(--light-09);
}

._text-primary-800 {
  color: var(--light);
}

._font-semibold {
  font-weight: 500;
}

.dark\:_bg-\[linear-gradient\(1deg\,\#383838\,\#212121\)\]:is(html[class~=dark] *) {
  background-image: none;
}

.nextra-banner-container {
  background-color: var(--light);
  color: var(--white);
}

.nextra-banner-container a {
  background: none;
  color: var(--white);
}

.nextra-banner-container:hover {
  background-color: var(--light-09);
  color: var(--light);
}

.nextra-banner-container:hover a {
  background: none;
  color: var(--light);
}

.dark .nextra-banner-container {
  background-color: var(--dark);
  color: var(--white);
}

.dark .nextra-banner-container a {
  color: var(--white);
  background: none;
}

.dark .nextra-banner-container:hover {
  background-color: var(--dark-09);
  color: var(--dark);
}

.dark .nextra-banner-container:hover a {
  background: none;
  color: var(--dark);
}

.hover\:_text-gray-800:hover,
.hover\:_text-gray-900:hover {
  color: var(--light);
}

.hover\:_bg-gray-100:hover {
  background-color: var(--light-09);
}

@media (min-width: 768px) {
  .md\:_text-lg {
      font-size: 0.875rem;
  }
}

.quickstart-svg path {
  fill: var(--white);
}

.button-highlight {
  background-color: var(--light);
  color: var(--white);
  border-radius: 5rem;
}

.dark .button-highlight {
  background-color: var(--dark);
}

.button-highlight:hover {
  color: var(--light);
  border: 1px solid var(--light);
  background-color: var(--light-09);
}

.dark .button-highlight:hover {
  color: var(--dark);
  border: 1px solid var(--dark);
  background-color: var(--dark-09);
}

.button-outline {
  color: var(--light);
  border: 1px solid var(--light);
  border-radius: 5rem;
}

.dark .button-outline {
  color: var(--dark);
  border: 1px solid var(--dark);
}

.button-outline .quickstart-svg path {
  fill: var(--dark);
}

.dark .button-outline .quickstart-svg path {
  fill: var(--dark);
}

.button-outline:hover {
  color: var(--light);
  border: 1px solid var(--light);
  background-color: var(--light-09);
}

.dark .button-outline:hover {
  color: var(--dark);
  border: 1px solid var(--dark);
  background-color: var(--dark-09);
}

.button-outline:hover .quickstart-svg path {
  fill: var(--light-09);
}

.dark .button-outline:hover .quickstart-svg path {
  fill: var(--dark-09);
}

._text-slate-900, .font-title {
  color: var(--light);
}

.dark\:_text-slate-100:is(html[class~=dark] *), .dark .font-title {
  color: var(--dark);
}

._bg-primary-50 {
  background-color: var(--light-09);
}

.light body {
  background-color: var(--white);
}

._bg-gray-100 {
  background-color: rgba(243, 244, 246, 0.2);
}