@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --a: hsl(194, 100%, 33%);
  --a-09: hsl(194, 100%, 50%);
  --b: hsl(183, 100%, 36%);
  --c: hsl(58, 89%, 93%);
  --d: hsl(29, 97%, 86%);
  --e: hsl(4, 82%, 67%);
  --e-09: hsl(4, 82%, 98%);
  --white: rgba(255, 255, 255, 1);
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-flex-v26-latin/roboto-flex-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  font-family: 'Roboto Flex', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.logo .c1 {
  fill: var(--a);
}

.logo .c2_a {
  fill: var(--a);
}

.logo .w {
  fill: var(--white);
}

.logo .c2 {
  stroke: var(--a);
}

.dark .logo .c1 {
  fill: var(--e);
}

.dark .logo .c2_a {
  fill: var(--e);
}

.dark .logo .w {
  fill: var(--white);
}

.dark .logo .c2 {
  stroke: var(--e);
}

._bg-primary-100 {
  background-color: hsl(194, 100%, 97%);
}

._text-primary-800 {
  color: var(--a);
}

._font-semibold {
  font-weight: 500;
}

.nextra-banner-container,
.nextra-banner-container a {
  background-color: var(--p);
  color: var(--w);
}

.dark\:_bg-\[linear-gradient\(1deg\,\#383838\,\#212121\)\]:is(html[class~=dark] *) {
  background-image: linear-gradient(1deg, var(--p), var(--p));
}

.dark .nextra-banner-container a {
  background: none;
}

.hover\:_text-gray-800:hover,
.hover\:_text-gray-900:hover {
  color: var(--e);
}

.hover\:_bg-gray-100:hover {
  background-color: var(--e-09);
}

@media (min-width: 768px) {
  .md\:_text-lg {
      font-size: 1rem;
  }
}